

html{
    background-color: khaki;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  
  nav{
    width: 35%;
    height: 60px;
    background-color: hsl(0, 13%, 56%);
  }
  
  nav ul {
    float: left;
  }
  
  nav ul li {
    float: left;
    list-style: none;
    position: relative;
  } 
  
  nav ul li a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 12px;
    padding: 20px 24px;
    display: block;
    text-decoration: none;
    color: black;
  }
  
  nav ul li ul {
    display: none;
    position: absolute;
    background-color: rgba(114, 93, 93, 0.658);
    border-radius: 4px 4px 4px 4px;
    padding: 2px;
  }
  
  nav ul li:hover ul {
    display: block;
  }
  
  nav ul li ul li{
    width: 180px;
    border-radius: 4px;
  }
  
  nav ul li ul li a {
    padding: 8px 14px;
  }
  
  nav ul li ul li a:hover {
    background-color: rgb(212, 127, 127);
  }

  ul li a:hover{
    text-decoration: none;
    color: rgb(100, 99, 99);
  }
  
  h1{
    text-align: center;
    color: red;
  }
  
  #minecraft{
    color: black;
    background-color: rgb(54, 194, 54);
    transition: 0.4s;
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    position: absolute;
    right: 43%;
    text-align: center;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: inset 0 0 0 0 rgb(0, 253, 0);
    transition: 0.35s ease-in-out;
    }
    
    #minecraft:hover{
      transition: 0.35s ease-in-out;
      box-shadow: inset 100px 0 0 0 rgb(0, 253, 0);
    }
  
  #supercell{
    color: black;
    background-color: rgb(103, 138, 103);
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-align: center;
    position: absolute;
    left: 41.5%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: inset 0 0 0 0 rgb(94, 179, 94);
    transition: 0.35s ease-in-out;
  }

  #supercell:hover{
    box-shadow: inset 100px 0 0 0 rgb(94, 179, 94);
    transition: 0.35s ease-in-out;
  }
  
  #activision{
    color: black;
    background-color: rgb(158, 121, 51);
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-align: center;
    position: absolute;
    right: 35.2%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: inset 0 0 0 0 orange;
    transition: 0.35s ease-in-out;
  }

  #activision:hover{
    box-shadow: inset 100px 0 0 0 orange;
    transition: 0.35s ease-in-out;
  }

  #call_of_duty{
    color: white;
    background-color: rgb(29, 29, 29);
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-align: center;
    position: absolute;
    left: 32.62%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
    box-shadow: inset 0 0 0 0 rgb(82, 69, 69);
    transition: 0.35s ease-in-out;
  }

  #call_of_duty:hover{
    box-shadow: inset 125px 0 0 0 rgb(82, 69, 69);
    transition: 0.35s ease-in-out;
  }
    
  #clash_royale{
    color: black;
    background-color: rgb(143, 35, 35);
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-align: center;
    position: absolute;
    right: 26%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: inset 0 0 0 0 rgb(231, 16, 16);
    transition: 0.35s ease-in-out;
  }

  #clash_royale:hover{
    box-shadow: inset 130px 0 0 0 rgb(231, 16, 16);
    transition: 0.35s ease-in-out;
  }
  
  #clash_of_clans{
    color: black;
    background-color: rgb(202, 199, 30);
    padding: .75rem 1.25rem;
    border-radius: 10rem;
    text-align: center;
    position: absolute;
    left: 22.72%;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-shadow: inset 0 0 0 0 rgb(255, 251, 0);
    transition: 0.35s ease-in-out;
  }

  #clash_of_clans:hover{
    box-shadow: inset 150px 0 0 0 rgb(255, 251, 0);
    transition: 0.35s ease-in-out;
  }
  
  p{
    text-align: center;
    color: rgb(44, 44, 41);
    font-size: 19px;
  }